{% load static %}
{% load i18n %}


<footer class="ct-footer footer-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 footer-widget">
			<h5 class="widget-title">{% trans 'Contact us' %}</h5>
			<ul>
			  <li> <a href="#">{% trans 'Customer Service Contact' %}</a> </li>
			  <li> <a href="#">{% trans 'My customer area' %}</a> </li>
			  <li> <a href="#">{% trans 'My orders' %}</a> </li>
			</ul>
          
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 footer-widget">
          <h5 class="widget-title">{% trans 'Delivery and Payment' %}</h5>
          <ul>
            <li> <a href="#">{% trans 'Delivery method and costs' %}</a> </li>
            <li> <a href="#">{% trans 'Payment method' %}</a> </li>
            <li> <a href="#">{% trans 'Secure payment' %}</a> </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-6 footer-widget">
          <h5 class="widget-title">{% trans 'Legal' %}</h5>
          <ul>
            <li> <a href="#">{% trans 'Privacy Policy' %}</a> </li>
            <li> <a href="#">{% trans 'Refund Policy' %}</a> </li>
            <li> <a href="#">{% trans 'Cookie Policy' %}</a> </li>
            <li> <a href="#">{% trans 'Terms & Conditions' %}</a> </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p class="m-0">&copy; Copyright 2024 - <a href="https://informatikmarket.com/">Informatik Market</a> {% trans 'All Rights Reserved' %}.</p>
      </div>
    </div>

  </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>

</body>
</html>